<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn Passport</title>
    <script src="https://kit.fontawesome.com/dfc47fead6.js"></script>
    <link rel='stylesheet' href='../public/css/style.css'>
</head>
<body>
    <h1>My Messages:</h1>
    <div class='row'>
        <div class='new-message' id='newMessageBtn'>
            <i class='fas fa-plus fa-2x'></i> New Message
        </div>
        <div class='cell'>&nbsp;</div>
    </div>
    <div class='row' id='container'>
        <span class='cell flex1' id='folders'>
            <div class='bordbot1'>Folders</div>
            <div id='inbox' class='folder folder-active'>Inbox</div>
            <div id='drafts' class='folder'>Drafts</div>
            <div id='sent' class='folder'>Sent</div>
            <div id='deleted' class='folder'>Deleted</div>
        </span>
        <span class='cell flex2' id='previews'>
            <div class='bordbot1'>Previews</div>


        </span>
        <span class='cell flex4' id='main'>
            <div class='bordbot1'>Reading Pane</div>

        </span>
    </div>

    <!-- DIV to store message data -->
    <div class='gone' id='data'>${allMessages}</div>

    <p>
        <span><a href='/'>Home</a></span>
        <span><a href='/profile'>My Profile</a></span>
    </p>

    <!-- new message modal -->
    <div class='modal' id='newMessageModal'>
            <form method='POST' action='/messages' id='addMessage'>
                <input id='fromField' type='text' name='from'><br>
                <input id='toField' type='text' name='to' placeholder="To" autofocus='autofocus'><br>
                <input id='subjectField' type='text' name='subject' placeholder="Subject"><br>
                <textarea style='font-family:Arial, Helvetica, sans-serif' id='bodyField' name='body' placeholder="message here" rows='10' cols='22'></textarea><br>
                <button class='greenBG' id='sendMessageBtn' type='submit'>Send Message</button>
                <button class='blueBG' id='saveMessageBtn'>Save for later</button>
                <button class='redBG' id='cancelMessageBtn'>Cancel</button>
            </form>
        </div>

    <script src='../public/js/messages.js'></script>
</body>
</html>