<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing</title>
    <style>
        body {
            margin: 2px; padding: 2px;
        }
        .container {
            display: flex;
            flex-direction: row;
        }
        .left {
            cursor: pointer;
            flex: 1;
        }
        .right {
            flex: 3;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class='container'>
        <span class='cell left' id='folders'>
            <div id='inbox'>Inbox</div>
            <div id='sent'>Sent</div>
            <div id='deleted'>Deleted</div>
        </span>
        <span class='cell right' id='main'></span>

    </div>
    <div class='hidden' id='data'>${allMessages}</div>

    <script src='../public/js/messages2.js'></script>
</body>
</html>