<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn Passport</title>
</head>
<body>
    <h1>Profile Page</h1>
    <p class='message'>${msgExists ? `${msgExists}` : `` }</p>
    <div>
        <span>Username:</span><span>${name}</span>
    </div>
    <div>
        <span>Email address:</span><span>${email}</span>
    </div>
    <span><a href='/users'>See all users</a></span>
    <span><a href='/logout'>Logout</a></span>
    <span><a href='/'>Home</a></span>
</body>
</html>