<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn Passport</title>
    <script src="https://kit.fontawesome.com/dfc47fead6.js"></script>
    <link rel='stylesheet' href='../public/css/style.css'>
</head>
<body>
    <h1>Profile Page</h1>
    <p class='message'>${msgExists ? `${msgExists}` : `` }</p>
    <div class='row'>
        <div class='cell'>
            <img src='data:image/jpg;base64,${photo}' width='100' height='120'>
            <div class='small center'>
                <a id='addEditPhoto'>Add / edit photo</a>
            </div>
        </div>
        <div class='cell'>
            <div>
                <span>Username:</span><span id='nameContent'>${name}</span>
            </div>
            <div>
                <span>Email:</span><span>${email}</span>
            </div>
        </div>
        <div class='cell tooltip row'>
                <span class='btn blue'>
                    <i class='fas fa-edit fa-2x' id='editProfileBtn'></i>
                    <p>Edit profile</p>
                </span>
                <span class='cell red'>
                    <i class='fas fa-trash-alt fa-2x' id='delAccountBtn'></i>
                    <p>Delete account</p>
                </span>
        </div>
    </div>
    <div><p>${name}'s Tasks</p></div>
    <hr>
    <ul>
        ${tasks.map(t => `
            <li><div class='row'>
                <div class='cell task-photo'>
                    <img src='data:image/jpg;base64,${t.photo}' width='100' height='100'>
                </div>
                <div class='cell left'>
                    <span class='description' id='taskContent'>${t.description}</span><br>
                    <span class='status' id='taskStatus'>${t.complete}</span>
                    <span class='hidden' id='taskId'>${t._id}</span>
                </div>
                <div class='cell tooltip row'>
                    <span class='cell blue'>
                        <i class='fas fa-edit fa-2x' id='editTaskBtn'></i>
                        <p>Edit task</p>
                    </span>
                    <span class='cell red'>
                        <i class='fas fa-trash-alt fa-2x' id='delTaskBtn'></i>
                        <p>Delete task</p>
                    </span>
                    <span class='cell green'>
                        <i class='fas fa-camera fa-2x' id='addTaskPhotoBtn'></i>
                        <p>Add task photo</p>
                    </span>
                </div>
            </div>
            </li>
        `).join('')}
        <li><form method='POST' action='/tasks' id='addTasks'>
            <input id='addDescription' type='text' name='description' placeholder='description' autofocus="autofocus">
            <select name='taskStatus' form='addTasks'>
                <option value='not started'>Not started</option>
                <option value='in process'>In process</option>
                <option value='complete'>Complete</option>
            </select>
            <button class='green' type='submit'><i class='fas fa-plus-square fa-3x'></i></button>
        </form></li>
    </ul>

    <div id='photoModal' class='modal hidden'>
        <form method='POST' action='/users/photo' enctype="multipart/form-data">
            <label for='photoURL'>Select photo</label>
            <input type='file' name='photo' id='photoURL'>
            <input type='submit' value='Use this photo'>
        </form>
    </div>

    <div id='userDeleteModal' class='modal hidden'>
        <form method='POST' action='/users/me'>
            <label for='deleteUser'>Are you sure you want to delete your account?</label><br>
            <button class='redBG' type='submit'>YES. DELETE ACCOUNT</button>
        </form>
            <button class='blueBG' id='cancelAccountDeleteBtn'>Yikes! No!</button>
    </div>

    <div id='profileEditModal' class='modal hidden'>
        <label for='editName'>Update username:</label><br>
        <input id='editName' type='text' name='name'>
        <label for='editPass1'>Enter new password:</label><br>
        <input id='editPass1' type='password' name='pass1'>
        <label for='editPass2'>Retype new password:</label><br>
        <input id='editPass2' type='password' name='pass2'>
        <button class='greenBG' id='applyNameEditBtn'>Apply Edit</button>
        <button class='blueBG' id='cancelNameEditBtn'>Cancel</button>
    </div>

    <div id='taskEditModal' class='modal hidden'>
            <label for='editDescription'>Enter new description:</label><br>
            <input id='editDescription' type='text' name='description'>
            <label for='editStatus'>Enter new status:</label><br>
            <select id='editStatus' name='taskStatus' form='editTasks'>
                <option value='not started'>Not started</option>
                <option value='in process'>In process</option>
                <option value='complete'>Complete</option>
            </select><br>
            <button class='greenBG' id='applyTaskEditBtn'>Apply Edits</button>
            <button class='blueBG' id='cancelTaskEditBtn'>Cancel</button>
    </div>

    <div id='taskDeleteModal' class='modal hidden'>
        <p>Are you sure you want to delete this task?</p>
        <button class='redBG' id='applyTaskDeleteBtn'>Yes</button>
        <button class='blueBG' id='cancelTaskDeleteBtn'>Oops. No.</button>
    </div>

    <footer>
        <span><a href='/'>Home</a></span>
        <span><a href='/users'>See all users</a></span>
        <span><a href='/logout'>Logout</a></span>
    </footer>

    <script src='../public/js/profile.js'></script>
</body>
</html>