<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn Passport</title>
    <link rel='stylesheet' href='../public/css/style.css'>
</head>
<body>
    <h1>Register Page</h1>
    <p class='message'>${msgExists ? `${msgExists}` : `` }</p>
    <form action='/register' method='POST'>
        <label for='name'>Name:</label>
        <input type='text' name='name' id='name' required><br>
        <label for='email'>Email:</label>
        <input type='text' name='email' id='email' required><br>
        <label for='password1'>Password:</label>
        <input type='password' name='password1' id='password1' required><br>
        <label for='password2'>Re-enter Password:</label>
        <input type='password' name='password2' id='password2' required><br>
        <input type='submit' value='Register'>
    </form>
    <p>Already have an account? <a href='/login'>Login</a></p>
    <p>Or back to <a href='/'>Home</a>.</p>
</body>
</html>