<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn Passport</title>
    <link rel='stylesheet' href='../public/css/style.css'>
</head>
<body>
    <h1>All users:</h1>
    <ul>
        ${users.map(u => `
            <li>Name: ${u.name}<br>
            Email: ${u.email}</li>
            `).join('')}
    </ul>

    <p>
        <span><a href='/'>Home</a></span>
        <span><a href='/profile'>My Profile</a></span>
    </p>
</body>
</html>