body { 
    font-family: Arial, Helvetica, sans-serif;
}

/* TAGS ************************************************/
h1 { margin-bottom: 0; }

ul {
    margin: 0;
    padding: 0;
}

li { list-style: none; }

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    color: #ddd;
    /* font-weight: 600; */
    border-radius: 4px;
    margin: 0;
    padding: 5px 10px;
}
button:hover{
    color: white;
}

/* COLORS *************************************************/
.redBG { background: #9f000f; }
.redBG:hover{ background: #e41b17; }
.cream { color: #fff5ee; }
.yellow { color: gold; }
.red { color: #9f000f; }
.red:hover{ color: #e41b17; }
.blueBG { background: #4863a0; }
.blueBG:hover { background: #737ca1; }
.blue { color: #4863a0; }
.blue:hover { color: #737ca1; }
.green { color: green; }
.green:hover{ color: lime; }
.greenBG { background: green; }
.greenBG:hover{ background: lime; }
.white { color: white; }
.dark { background: #333; }
.hidden { opacity: 0; }

/* TEXT ***************************************************/
.center { text-align: center; }
.text12 { font-size: 1.2rem; }
.text10 { font-size: 1.0rem; }
.text09 { font-size: 0.9rem; }
.text08 { font-size: 0.8rem; }
.text06 { font-size: 0.6rem; }

/* STYLING ************************************************/
.round5 { border-radius: 5px; }
.roundhalf { border-radius: 50%; }
.outlined { border: 1px solid red; }
.cell100 { min-width: 100px; }
.bordbot1 { border-bottom: 1px solid black; }
.none { pointer-events: none; }
.gone { display: none; }

/* FLEX ALIGNMENT ******************************************/
.row {
    display: flex;
    flex-direction: row;
}

.nowrap { flex-wrap: nowrap; }
.vert { flex-direction: column; }

.cell {
    flex: 1;
    margin: 4px;
    margin-top: 0;
}
.fill { 
    justify-content: space-between;
}
.feven {
    justify-content: space-evenly;
}
.left {
    align-self: flex-start;
}
.flex-center {
    justify-content: center;
}
.right {
    align-self: flex-end;
}
.flex2 {
    flex: 2;
}
.flex4 {
    flex: 4;
}

/* COMPONENTS *********************************************/
.modal {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    display: none;
    height: auto;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}
.modal > * {
    padding: 5px;
    margin: 2px;
}
.preview-message {
    cursor: pointer;
    background: white;
    margin-bottom: 6px;
}
.preview-message:hover {
    background: #ffdfdd;
}
.preview-message-active {
    background: #eee;
}

.message {
    width: 50%;
    position: relative;
    background:#ffdfdd;
    border: 1px solid red;
    border-radius: 5px;
    padding: 0px 2px;
    text-align: center;
    font-weight: 500;
}
.new-message {
    color: #ddd;
    background: #222;
    border-radius: 20px;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}
.new-message:hover {
    color: white;
    background: black;
}

.folder {
    padding: 4px;
    cursor: pointer;
}
.folder:hover{
    background: #fff5ee;
}
.folder-active{
    font-weight: 600;
}

.addTask {
    position: relative;
    top: 10px;
}

.message-delete {
    color: #555;
    font-size: 1.4rem;
}
.message-delete:hover{
    color: black;
}
.tooltip span {
    max-height: 50px;
}
.tooltip p {
    position: relative;
    top: -10px;
    left: -33%;
    border-radius: 4px;
    background: #fff8c6;
    color: black;
    font-size: 0.8rem;
    text-align: center;
    box-shadow: 2px 2px 4px black;
    padding: 4px;
    opacity: 0;
    transition: opacity 0.2s;
}
.tooltip span:hover p{
    opacity: 1;
}
footer {
    margin-top: 20px;
}
.th {
    background: black;
    color: white;
}





