body {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
}

.vert {
    flex-direction: column;
}

.cell {
    flex: 0 1 auto;
    margin: 4px;
    margin-top: 0;
}

.cell-100 {
    min-width: 100px;
}

.message {
    width: 50%;
    position: relative;
    background:#ffdfdd;
    border: 1px solid red;
    border-radius: 5px;
    padding: 0px 2px;
    text-align: center;
    font-weight: 500;
}
.new-message {
    color: #ddd;
    background: #222;
    border-radius: 20px;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}
.new-message:hover {
    color: white;
    background: black;
}

.rounded {
    border-radius: 5px;
}
.half {
    border-radius: 50%;
}
.dark {
    background: #333;
}
.small {
    font-size: 0.6rem;
}
.center {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.left {
    min-width: 200px;
}

.main {
    min-width: 80%;
}

.description {
    font-size: 1.2rem;
}

.hidden {
    font-size: 0.5rem;
    opacity: 0;
}

label {
    font-size: 0.8rem;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    color: white;
    /* font-weight: 600; */
    border-radius: 4px;
    margin: 0;
}

.addTask {
    position: relative;
    top: 10px;
}

.redBG {
    background: #9f000f;
}
.redBG:hover{
    background: #e41b17;
}

.cream {
    color: #fff5ee;
}

.yellow {
    color: gold;
}

.red {
    color: #9f000f;
}
.red:hover{
    color: #e41b17;
}
.blueBG {
    background: #4863a0; 
}
.blueBG:hover {
    background: #737ca1;
}
.blue {
    color: #4863a0; 
}
.blue:hover {
    color: #737ca1;
}
.green {
    color: green;
}
.green:hover{
    color: lime;
}
.greenBG {
    background: green;
}
.greenBG:hover{
    background: lime;
}
.white {
    color: white;
}

.message-delete {
    color: #555;
    font-size: 1.4rem;
}
.message-delete:hover{
    color: black;
}

.normal {
    font-size: 0.9rem;
}

.modal {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    display: none;
    width: 200px;
    height: auto;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
}

.modal > * {
    padding: 5px;
}

.tooltip span {

    max-height: 50px;
}

.tooltip p {
    position: relative;
    top: -10px;
    left: -33%;
    border-radius: 4px;
    background: #fff8c6;
    color: black;
    font-size: 0.8rem;
    text-align: center;
    box-shadow: 2px 2px 4px black;
    padding: 4px;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip span:hover p{
    opacity: 1;
}

footer {
    margin-top: 20px;
}

.outlined {
    border: 1px solid red;
}

table {
    width: 100%;
}
th {
    background-color: black;
    color: white;
}

table .striped tr:nth-child(odd) {
    background-color: #fff;
}